* {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;

}
@font-face a{
	font-family: SegoeWPN;
    src: url(fonts/SegoeWPN.ttf);
   }

.container {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 10px;
}

.container:after {
	display: table;
	content: '';
	clear: both;    
}
